# Built application files
*.apk
*.aar
*.bundle
*.aab

# Gradle files
.gradle/
build/
app/build/

# IDE files
.idea/
.DS_Store
*.iml
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Local configuration file (sdk path, etc.)
local.properties

# Profiler files
*.hprof

# Task & Artifact directories
.artifacts/
